.btn__special {
    width: 180px;
    height: 8vh;
    margin-top: 10px;
   
  }

  
@media screen and (max-width: 600px) {
    .btn__special {
      width: 90px;
     height: 5vh;
    }
    
  }

  @media screen and (max-width: 550px) {
  

    .btn__special {
     width: 90%;
      height: 10vh;
      margin: 5px auto;
      text-align: center;
    }

    }
    
 