.burger__menu {
    
    list-style: none;
    display: none;
    color: white;
    width: 50px;
    z-index: 6;
}

.burger__menu_opened {
    width: 90%;
    list-style: none;
    display: flex;
    color: white;
    flex-direction: column;
   margin: 0;
   padding: 0;
    position: relative;
}