.map__item {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    
    
  }

  @media screen and (max-width: 929px) {
  

    .map__item{
      margin: 0 auto;
    }
}

@media screen and (max-width: 745px) {
 

    .map__item{
      font-size: 14px;
    }
}

@media screen and (max-width: 629px) {
 
  
    .map__item{
      font-size: 14px;
    }
    }