.page {
  max-width: 1280px;
  
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: #fdfdfd;
  justify-content: center;

  }
  
  @font-face {
    font-family: 'PlayfairDisplaySC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./PlayfairDisplaySC-Regular.ttf") format("woff2"),
        url("./PlayfairDisplaySC-Regular.ttf") format("woff");
}

@font-face {
    font-family: 'PlayfairDisplaySC';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./PlayfairDisplaySC-Medium.ttf") format("woff2"),
        url("./PlayfairDisplaySC-Medium.ttf") format("woff");
}

@font-face {
    font-family: 'PlayfairDisplaySC';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./PlayfairDisplaySC.ttf") format("woff2"),
        url("./PlayfairDisplaySC.ttf") format("woff");
}


  
  @media screen and (max-width: 320px) {
    .page {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .navigation__list {
    max-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 17px;
    white-space: nowrap;
    text-decoration: none;
   
   background-color: #26639F;
   z-index: -1;
   position: relative;
  justify-content: space-between;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  }

  .header {

 text-align: center;
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 z-index: 3;
 position: sticky;
 

  }

  .header__logo {
    max-width: 150px;
    height: auto;
    margin: 0 10px 8px 10px;
    cursor: pointer;
    color: #000;
    z-index: 5;
    top: -30px;
    bottom: -40px;
    position: absolute;
  cursor: pointer;
  }
.navigation__link {
    margin: 30px 5px 30px auto;
  }

  .navigation__link:last-child{
    margin: 30px 20px 20px auto;
  }
  

  .burger__checkbox {
    display: none;
  }

 
 
  .main__info {
    max-width: 100%;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main__overlay {
    min-height: 38.5vw;
   max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    text-decoration: none;
    background-image: url(./image/img_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.main__overlay:before {
 
    content: '';
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background-color: #2A2C2F;
    position: absolute;
    z-index: -1;
    transition: 3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.main__overlay:hover::before {
 
    opacity: 0.8;
}
  .main__info_title{
    font-size: 54px;
    margin: 150px 50px 50px 50px;
    color: #fff0f5;
  }
  .main__info_span {
    font-size: 90px;
  }

  .header__info {
    
    font-size: 20px;
    margin: 70px 28px 0 auto;
    display: flex;

    flex-direction: column;
  }


  .header__img {
    max-width: 38px;
    height: auto;
    margin: 0 5px auto auto;

    
  }

  .about__info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-inline: auto;
    flex-direction: column;
  }
  
  .table {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
  }
  .table__cell {
    width: 50%;
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
  }
  
  
  .dot {
    width: 10px;
    margin: 0px 10px 0 0;
  }

  .btn {
    background-color: azure;
    color: #06266F;
    font-size: 18px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
  
  }

  .btn__call {
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .services {
    width: 100%;
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.services__list{
  display: grid;
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-content: space-between;
  justify-content: space-around;


}
  .services__item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin: 10px 10px;
    padding: 0;
 justify-self: center;

   

  }

 
  .services__img {
   max-width: 150px;

    background-color: white;
    margin: 0 10px;
    padding: 0;
  }

 

  .services__text{
    text-transform: uppercase;
    max-width: 25%;
    display: flex;
 
    align-items: center;
  }
  .services__paragraph {
    margin: 0;

  }

  .link{
    text-decoration: none;
    color: black
  }

  .link__navigation{
    color: white;
  }
.link__warning {
  color: #26639F;
  
}

  .services__title {
    font-size: 24px;
    text-align: center;
  }

  .two-columns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
  }
  
  .subtitle{
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #26639F;
    

  }
  .two-columns__art {
    height: auto;
    max-width: 40%;
    margin: 0;
  
  }

  @media screen and (max-width: 1110px) {
    .two-columns__art {
      height: auto;
      max-width: 400px;
      margin: 0 10px auto auto;
    
    }

    .patients__inspection {
      margin: 20px;
    }
  }

  @media screen and (max-width: 699px) {
    .two-columns__art {
      height: auto;
      max-width: 250px;
      margin: 0 10px auto auto;
    
    }
  }
  .two-columns__main-text {
    display: flex;
    width: 40%;
    min-width: 284px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .two-columns__paragraph {
   
    margin-bottom: 30px;
  }
  
  .two-columns__paragraph:last-child {
    margin-bottom: 0;
  }

  .btn__special {
    width: 180px;
    height: auto;
   
  }
  .info {
    display: flex;
   
    margin: 20px auto;
    flex-direction: column;
    max-width: 100%;
  }
.info__item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 100%;
}
  .info__title {
text-transform: uppercase;

  }

  .info__images {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 5px auto;
    align-content: center;
    justify-content: center;
  }

  .info__img {
    max-width: 30%;
    margin: 20px;
    cursor: pointer;
  }
  
.info__images-sert {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 5px auto;
  align-content: center;
  justify-content: center;
  list-style: none;
}

.patients{
  display: flex;
 
  flex-direction: column;
  margin: 10px auto;
  
  max-width: 100%;
}

.patients__info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px auto 10px 0;
}

.patients__important {
  width: 10px;
  height: 35px;
  margin: 3px;
}

.patients__text {
  font-size: 16px;
  margin: 10px 0 0 0;
}

.patients__list {
  display: flex;
  
  flex-direction: column;
  list-style: none;
}

.patients__item-1 {
background-color: aliceblue;
justify-content: space-between;
flex-direction: row;
display: flex;
}

.patients__item-2 {
  background-color: #26639F;
  color: #fff0f5; 
  justify-content: space-between;
  flex-direction: row;
  display: flex;

  
  }

  .patients__table {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }

  .patient__item {
    margin: 3px auto 3px 0 ;
    max-width: 60%;
  }

  .patients__inspection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
  }

  .patients__title {
    font-size: 20px;
    align-items: center;
    align-self: center;
  }
  

  .patients__subtitle {
    font-size: 18px;
   
  }

  .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
  
    
  }

  .map__info_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background-color: white;
    padding-bottom: 20px;
    margin: 20px auto 20px 20px;
  
    
  }

  .map__geo {
    position:relative;
    overflow:hidden;
    background-color: white;
    width: 100%;
  }


  .map__info {
    display: grid;
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin-top: 0;
    
  }

  .map__text{
    margin: 15px;
    justify-content: center;
    display: flex;
  }


  .map__item {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    
    
  }

  .map__img{
    margin-right: 10px;
    margin-top: 10px;
  }


  .map__img_geo {
    margin: 0 5px auto 0;
    width: 60px;
  }
  .footer {
    display: flex;
    background-color: #26639F;

  }

  .footer__text {
    max-width: 400px;
    font-size: 14px;
    color: #fdfdfd;
    margin: 10px auto 10px 10px;
  }

  .footer__copyright {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fdfdfd;
    margin: auto 10px 10px 10px;
}


@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}





.info__text-span{
  font-size: 14px;
}

.info__text{
  font-size: 18px;
}

.info__sert{
  width: 40%;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.info__images-li{
  margin: 5px auto;
  align-content: center;
  justify-content: center;
  display: flex;
}



.info__img_big {
  max-width: 700px;
  height: auto;
  background-color: #2A2C2F;
  align-items: center;
  align-content: center;
}

.info__sert_big {
  width: 70%;
  height: auto;
  align-content: center;
  cursor: pointer;
}

@media screen and (max-width: 1226px) {
  .info__text {
    margin: 20px;
    font-size: 18px;
  }
  .info__title {
    margin-left: 20px;
  }

 .patients {
  margin: 20px;
 }

 .patients__table{
  margin: 0 auto;
 }
}

@media screen and (max-width: 929px) {
  .navigation__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }
.navigation__link{
  margin: 5px auto;
  font-size: 14px;
}
  .navigation__link:last-child{
    margin: 5px auto 10px auto;
  }

  .header__logo {
    width: 100px;
    left: 10px;
    top: 0px;
    
  }

  .subtitle {
    margin: 20px;
  }

.info__images{
  flex-direction: column;
  justify-content: center;
}

.info__img{
  max-width: 90%;

}

.info__sert{
  width: 90%;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
}
.info__images-li {
  flex-direction: column;
  
}

.map__info {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 24fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 0;
  
}

.map__info_section {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25fr;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  margin-top: 0;
  
}

.map__item{
  margin: 0 auto;
}
.map__text {
  margin: 0 auto;
}
}

@media screen and (max-width: 815px) {
  .main__info_title {
    font-size: 30px;
  }
  .main__info_span {
    font-size: 60px;
  }
}

@media screen and (max-width: 745px) {
  .services__img {
    max-width: 22%;
  }
.services__text{
  font-size: 14px;
}
.two-columns__paragraph {
  font-size: 14px;
  margin: 5px auto;
}
.table__cell{
  font-size: 14px;
}
.services__paragraph{
  font-size: 14px;
  margin: 5px auto 5px 10px;
}
.map__item{
  font-size: 14px;
}
.header__logo {
  width: 35px;
}
.navigation__list{
  margin-bottom: 0;
}

.navigation__link{
  font-size: 10px;
  margin: 2px auto;
}
.navigation__link:last-child{
  margin: 2px auto;
}


}
 
@media screen and (max-width: 629px) {
  .services__img {
    max-width: 22%;
  }
.services__text{
  font-size: 14px;
}
.two-columns__paragraph {
  font-size: 14px;
  
}
.table__cell{
  font-size: 14px;
}
.services__paragraph{
  font-size: 14px;
}
.map__item{
  font-size: 14px;
}
}

@media screen and (max-width: 585px) {
  .btn__special {
    max-width: 100px;
    height: 50px;
  }
  
}

@media screen and (max-width: 550px) {
  
  
.header {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
  justify-content: center;
}

.map__info {
display: grid;
grid-template-columns: 1fr;
padding: 0;

grid-row-gap: 2px;
}
.map__text{
  font-size: 10px;
  margin: 5px auto 2px auto;
}

.header__logo {
  width: 35px;
}
.navigation__list{
  margin-bottom: 0;
}

.navigation__link{
  font-size: 10px;
  margin: 2px auto;
}
.navigation__link:last-child{
  margin: 2px auto;
}

.main__info_title{
  font-size: 25px;
}

.main__info_span{
  font-size: 30px;
}

.two-columns__paragraph {
 width: 90%;
 margin: 0 0 5px 10px;
}

.two-columns__art {
  max-width: 40%;
}

.services__text {
  font-size: 10px;
}
.btn__special {
  max-width: 180px;
  height: auto;
}
.header__img {
  width: 18px;
}

}

@media screen and (max-width: 490px) {
  .services__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
  
  .services__item {
    width: 90%;
  }

  .about__info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .two-columns__main-text {
    width: 100%;
  }

  .two-columns__art {
    max-width: 100%;
    margin: 5px auto;
  }

  .about__info-list {
    display: flex;
    flex-direction: column;
    
  }

  .table__cell {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
  }
  
}

@media screen and (max-width: 390px) {
  .two-columns__art{
    width: 90%;
    margin: 5px 10px;
  }
  
  .map__info_section {
    display: flex;
   padding: 0;
   margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    
  }

  .map__img_geo{
    width: 15px;
  }

  .map {
    display: flex;
  }

  
}