.main__info_title{
    font-size: 54px;
    margin: 150px 50px 50px 50px;
    color: #fff0f5;
  }

  @media screen and (max-width: 815px) {
    .main__info_title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 550px) {
  

    .main__info_title{
      font-size: 25px;
    }
  }