.info__title {
    text-transform: uppercase;
    
      }

      @media screen and (max-width: 1226px) {
  
        .info__title {
          margin-left: 20px;
        }
    }

    @media screen and (max-width: 546px) {
  
      .info__title {
       margin-top: 80px;
      }
  }
