.info__images-sert {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    list-style: none;
    position: relative;
  }

  @media screen and (max-width: 600px) {
  


    .info__images-sert{
      padding: 0;
    }
}