.info {
    display: flex;
   
    margin: 20px auto;
    flex-direction: column;
    max-width: 100%;

  }

  @media screen and (max-width: 500px) {
  
    .info {
      margin: 10px auto;
      justify-content: center;
      padding: 0 auto;
      align-items: center;
    }
}
