.patients{
    display: flex;
   
    flex-direction: column;
    margin: 10px auto;
    
    max-width: 100%;
  }

  @media screen and (max-width: 1226px) {
  

    .patients {
     margin: 20px;
    }
}