
.info__img {
    max-width: 30%;
    margin: 20px;
    cursor: pointer;
  }
  img[scalable]
  {
    cursor: pointer;
    transition-property: max-width, max-height, left, top;
    transition-duration: 0.3s;
  }
  @media screen and (max-width: 929px) {
  

    .info__img{
      max-width: 90%;

    }
}

@media screen and (max-width: 600px) {
  

  .info__img{
    width: 70vw;
    margin: 5px 0;
    align-items: center;
    cursor: none;
  }
}

@media screen and (max-width: 400px) {
  

  .info__img{
    max-width: 80vw;
    margin: 5px 0;
    align-items: center;
    cursor: none;
  }
}