.services__list{
    display: grid;
    
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      align-content: space-between;
    justify-content: space-around;
  padding: 0;
  
  }

  @media screen and (max-width: 836px) {
    
    .services__list{
      display: grid;
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
  
    }
}


@media screen and (max-width: 490px) {
    .services__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 18px;
      grid-row-gap: 18px;
    }
    }