.map__info {
    display: grid;
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin-top: 0;
    
  }

  @media screen and (max-width: 929px) {
  

    .map__info {
      display: grid;
    
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 24fr;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      margin-top: 0;
      
    }
  }

  @media screen and (max-width: 550px) {
  

    .map__info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    
    grid-row-gap: 2px;
    }
}